.co-configurator-category-tooltip {
  border: 1px solid var(--co-color-gray-600);
  border-radius: 50px;
  line-height: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  text-transform: lowercase;
  font-size: 12px;
}